$primary-color: #d37001;
$danger-color: #d50147;

$bg-color: #08202a;
$bg-color-light: #0a2a37;
$text-color: #3b7997;

$input-bg-color: $bg-color-light;
$input-color: white;
$input-hover-color: darken($primary-color, 20%);
$input-active-color: lighten($primary-color, 20%);

$nav-bg-color: darken($bg-color, 2%);
$nav-link-color: #3b7997;
$nav-link-hover-color: $primary-color;
$nav-link-active-color: lighten($primary-color, 30%);

$border-size: 3px;
$border-style: $border-size solid;
$border-radius: 5px;

$font-size: 15px;
$text-font-family: "Josefin Sans", sans-serif;
$number-font-family: "B612 Mono", monospace;

$spacing: 15px;
$compact-spacing: 5px;
